* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.gallery {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: center;
  padding-top: 24px;
}

.gallery li img {
  width: 360px;
  height: 200px;
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.04);
}
